<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('header.ejs')%>
</head>
<body>
    <div class="container">
        <ul class="list-group list-group-item-primary">
            <li class="list-group-item list-group-item-primary">Title : <%=data['0']%></li>
            <li class="list-group-item list-group-item-primary">Content : <%=data['1']%></li>
            <li class="list-group-item list-group-item-primary">Writer : <%=data['2']%></li>
            <li class="list-group-item list-group-item-primary">Image : <img src="/upload/<%=data['3']%>" class="figure-img img-fluid rounded"></li>
            <li class="list-group-item list-group-item-primary">Date : <%=data['4']%></li>
        </ul>
        <button onclick="location.href='/contract'" class="btn btn-dark">글 목록으로</button>
        <button onclick="history.back()" class="btn btn-dark">뒤로가기</button>
    </div>
</body>
</html>